<div class="wrapper" id="main">
<div id="list" >
	<section  ng-repeat="movie in filteredMovies = (movies | filter:{title:query})" >
		<article class="item panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> <a href="#/{{movie.id}}">{{singleMovie.title}}</a></h3>
			</div>
			<div class="panel-body">
				<img ng-src="assets/uploads/{{movie.title}}/thumb/thumb.jpg"><br>
				{{movie.description}}
			</div>
			<footer class="panel-footer">
			</footer>
		</article>
	</section>

					
				
		  
		  <a href="/" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
</div>
