<div class="wrapper" id="main">
	<div id="list" >		
	<section>
		<article class="item panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> <a href="#/{{movie.id}}">{{movie.title}}</a></h3>
			</div>
			<div class="panel-body">
				<img src="assets/uploads/{{movie.title}}/thumb/thumb.jpg"><br>
				{{movie.description}}
			</div>
		<footer class="panel-footer">
		</footer>
		</article>

		<a href="/" class="btn btn-block btn-lg btn-primary" onclick="renderList()"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
		
	</section>
	</div>
</div>
